
/* Media Queries */
@media screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    /* Media Query For Skill Section */
    .about .container{
        flex-direction: column;
    }
    /* Media Query For About Section */
    /* Media Query For Project Section */
    .project .project-sec{
        grid-template-columns: repeat(2,1fr);
    }
    /* Media Query For Project Section */
}
@media screen and (max-width: 768px) {
    section{
        padding: 3rem;
    }
    .navbar a i{
        padding: 0;
    }
    .navbar a span{
        display: none;
    }
    /* Media Query For Home Section */
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .home .content{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    /* Media Query For Home Section */
    /* Media Query For About Section */
    .about .container .personal-details .box{
        font-size: 1.5rem;
    }
    /* Media Query For About Section */
    /* Media Query For Skill Section */
    .skill-sec .box{
        grid-template-columns: repeat(2,1fr);
    }
    /* Media Query For Skill Section */
    /* Media Query For Project Section */
    .project .project-sec{
        column-gap: 5rem;
    }
    /* Media Query For Project Section */
}
@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }
    /* Media Query For Home Section */
    .home .content h3{
        font-size: 28px;
    }
    .home .content span{
        font-size: 25px;
    }
    /* Media Query For Home Section */
    /* Media Query For About Section */
    .about h1{
        font-size: 6rem;
    }
    .about .container .personal-details{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .about .container .personal-details .box{
        font-size: 2rem;
    }
    .about .container .skill-details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    /* Media Query For About Section */
    /* Media Query For Skill Section */
    .skill-sec h1{
        font-size: 6rem;
    }
    /* Media Query For Skill Section */
    /* Media Query For Project Section */
    .project .project-sec{
       grid-template-columns: repeat(1,1fr);
    }
    /* Media Query For Project Section */
}
